* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
main{
     height: 100%;
    width: 100%;
    background-color:rgb(41, 41, 41);
    display: flex;
    align-items: center;
    padding: 50px;
}

#outer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.733);
    height: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
h1{
    text-align: center;
    margin-top: 10px;
    background: linear-gradient(to right bottom,white, grey,black);
    background-clip: text;
    color: transparent;
    font-size: 50px;
}
#inner{
    width: 100%;
    height: 80%;
    background-color: white;
    display: flex;  
    position: relative;
}
.white{
    /* height: 100%; */
    flex-grow: 1;
    border: 1px solid black;
    position: relative; 
}

.black{
    position: absolute;
    height: 60%;
    width: 25px;
    background-color: black;
    right: -14px;   
    overflow: hidden;
}
.white h2{
    position: absolute;
    top: 80%;
    left: 40%;
}
.black h3{
    color: white;
    position: absolute;
    top: 80%;
    left: 30%;
}

/* .white:active{
    background-color: rgb(221, 221, 221);
    box-shadow: 2px 10px 10px black;
    overflow: hidden;
} */