* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    font-family: monospace;
}


body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate {
    from{
        --rotate : 0deg
    }
    to{
        --rotate: 360deg
    }
}

.box{
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin: 10px; */
    border-radius: 15px;
    background: linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate) , black , #FCFB3C,black) border-box;
    border: 0px solid rgba(0, 0, 0, 0);      
    
    animation: borderAnimate 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    box-shadow:0 0 0px #FCFB3C;
    text-shadow: 0 0 0px #FCFB3C;
    color: whitesmoke;
    transition: all 0.3s linear;
}

.box:hover{
  animation-play-state: running;
  box-shadow:0 0 50px #FCFB3C;
  border-width: 5px;
  color: #FCFB3C ;
  text-shadow: 0 0 10px #FCFB3C;
}

.box h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}
.box img{
    width: 100%;
    border-radius: 15px;
}
    
