* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #001e4d;
}
.app{
    background-color: whitesmoke;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 30px;
    color: #001e4d;
    font-family: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 20px;
    color: #001e4d;
    font-weight: 600;
}

.btn{
    background-color: whitesmoke;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease 0.3s;
}
.btn:hover{
    background-color: #222;
    color: whitesmoke;
}

#next-btn{
    background-color: #001e4d;
    color: whitesmoke;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}