* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 232, 203);
}

body{
    background-color: #121212;
}

@mixin flex-column($gap: 0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main{
    width: 100%;
    @include flex-column(0rem);

    section.view1{
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 0.7rem;
            }

        }

        .bottom{
            background-color: #1E1E1E;
            @include flex-column(2.5rem);
            padding: 1rem;
            border-radius: 0.7rem;
            .text{
                @include flex-column(0.7rem);
                h1{
                    font-weight: 400;
                    font-size: 3rem;
                    text-transform: uppercase;
                }
                p{
                    font-weight: 300;
                    opacity: 0.6;
                    font-size: 1.2rem;
                    line-height: 1.5;
                }

                button{
                    width: fit-content;
                    padding: 0.7rem 1rem;
                    border: none;
                    outline: none;
                    border-radius: 0.5rem;
                }

            }
        }
    }
}

@media(min-width:900px){

    main{

        section.view1{
            flex-direction: row;
            .top,.bottom{
                width: 50%;
            }

            .bottom{
                justify-content: space-between;
            }
        }
    }

}