* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    flex-direction: column;
}

#box{
    height: 400px;
    width: 400px;
    background-color: rgb(0, 0, 0);
    border: 3px solid gold;
    border-radius: 10px;
    
}

button{
    padding: 20px 25px;
    background-color: crimson;
    border: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
}
button:active{
    scale: 0.95;
    background-color: rgba(226, 28, 67, 0.596);
}