* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 8px;
    padding: 10px;

    section{
        height: 100%;
        flex-grow: 1;
        // background-color: red;
        background-size: cover;
        background-position: center;
        transition: all 0.5s linear;
    }
    section:hover{
        flex-grow: 3;
    }
    section:nth-child(1){
        background-image: url(https://images.unsplash.com/photo-1761646062286-cd2f3c8574dd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1504);

    }
    section:nth-child(2){
        background-image: url(https://images.unsplash.com/photo-1761583601042-b0ee628220f4?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1374);
    }

    section:nth-child(3){
        background-image: url(https://images.unsplash.com/photo-1761506016445-24367dab70bd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1374);
    }

     section:nth-child(4){
        background-image: url(https://images.unsplash.com/photo-1678219200051-a982a912a013?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1374);
    }
     section:nth-child(5){
        background-image: url(https://images.unsplash.com/photo-1761169552648-b38dbb881307?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1370);
    }
    


}