@font-face {
    font-family: 'gta';
    src: url(./pricedown\ bl.ttf);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.hdqwalls.com/download/delorean-vaporwave-retro-gq-1366x768.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 40px;

}
#main h1{
    font-family: gta;
    font-weight: 200;
    font-size: 80px;
    color: white;
}

#main button{
    font-family: gta;
    margin: 80px;
    padding: 15px 20px;
    font-weight:100;
    font-size: 20px;
    border-radius: 5px;
    background-color:#F4043F;
    color: rgb(255, 113, 69);
}

#main button:hover{
    box-shadow: 2px 10px 80px #FBE213;
    transform: scale(1.2);
}