* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

}

button{
    padding: 20px 35px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 10px;
    z-index: 9;

}

button:active{
    scale: 0.95;
}