* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    color: white;
    font-family: monospace;
    background-color: black;
}

main {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(26, 26, 26), rgb(30, 30, 30), black);
    padding: 20px;
    overflow: auto;

}

section {
    height: 100%;
    width: 400px;
    background-color: black;
    border-radius: 10px;
    margin: auto;

}

.all-reels {
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.all-reels::-webkit-scrollbar {
    display: none;
}

.reel {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* overflow: hidden; */
}

.reel .bottom {
    width: 100%;
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.904));
    position: absolute;
    bottom: 0;
}

.bottom .user {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.bottom .user img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.bottom .user h4 {
    font-size: 16px;
}

.bottom>h3 {
    font-weight: 500;
    font-size: 18px;
}

.bottom .user button {
    padding: 2px 6px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 600;
}

.right {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
    width: 40px;
    position: absolute;
    right: 0;
    /* transform: translateX(100%); */
    bottom: 10%;
}

.right i {
    font-size: 30px;
    font-weight: 400;
}

.right h4 {
    cursor: pointer;
}

.right h6 {
    font-size: 14px;
    font-weight: 500;
}

.right>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;          /* width dene se clickable area mila toh uss area mein click hone se event kaam karenge */
    cursor: pointer;
}

.love {
    color: red
}

.right>div h4 {
    pointer-events: none;
    /*  Taaki click child elements (h4, h6) mein phas na jaye, directly parent div ko mile. */
}

.right>div h6 {
    pointer-events: none;
    /*  Taaki click child elements (h4, h6) mein phas na jaye, directly parent div ko mile. */
}

.muted{
    background-color: #333;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}
.muted i{
    font-size: 20px;
    cursor: pointer;
    pointer-events: none;

}
.muted:active{
    scale: 0.95;
}