*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;

}
#main{
    background-color:rgb(227, 248, 255);
    
}
#name{
    padding-top: 50px;
    height: 200px;
    background-color: rgb(3, 12, 24);
    text-align: center;
}
#name h2{
    font-size: 50px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}
#name h3{
    font-weight: 400;
    font-style: italic;
    color: white;
}

#about{
    height:200px;
    width: 80%;
    background-color: rgb(255, 251, 245);
    margin: 50px auto;
    text-align: center;
    padding: 40px 10px;
}
#about h3{
   text-transform: uppercase;
   font-weight: 800;
    color: rgb(15, 15, 15);
}
#about p{
    font-weight: 600;
    color: rgb(53, 53, 53);
}
#education{
    height:200px;
    width: 80%;
    background-color: rgb(201, 255, 250);
    margin: 50px auto;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 10px;
}
#education h3{
    font-weight: 800;
}


#uni{
    margin: 10px auto;
    height: 50px;
    width: 70%;
    background-color: rgb(241, 241, 241);
    text-align: center;
    padding: 15px 0px;
    font-weight: 600;
}
#sch{
    margin: 10px auto;
    height: 50px;
    width: 70%;
    background-color: rgb(241, 241, 241);
    text-align: center;
    padding: 15px 0px;
    font-weight: 600;
}

#skills{
    height: 300px;
    width: 80%;
    margin: 50px auto;
    background-color: rgb(255, 203, 203);
    padding: 40px 0;
    text-align: center;
}
#skills h3{
    margin-bottom: 20px;
    font-weight: 800;
}

.cards{
    height: 40px;
    width: 80%;
    background-color: rgb(230, 230, 230);
    margin: 10px auto;
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
}
#project{
    height: 300px;
    width: 80%;
    background-color: rgb(255, 253, 149);
    margin: 50px auto;
    padding: 30px 0;
}
#project h3{
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 25px;
}
#contact{
    height: 300px;
    width: 80%;
    background-color: rgb(150, 255, 191);
    margin: 50px auto;
    padding: 40px;
}
#contact h3{
    text-align: center;
    font-weight: 800;
    padding-bottom: 20px;
}
#copyright{
    height: 70px;
    width: 100%;
     background-color: rgb(3, 12, 24);
     padding-top: 20px;
}
#copyright p{
    font-weight: 600;
    text-align: center;
    font-size: 20px;

}