* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
     font-family: monospace;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#card{
    height: 450px;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 30px;
    text-align: center;

}
#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#card h1{
    font-size: 30px;
    margin: 10px 0;
}

#card h5{
    font-size: 25px;
    color: rgb(247, 74, 74);
    margin-bottom: 20px;
}
#card button{
    background-color: royalblue;
    color: whitesmoke;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    cursor: pointer;
}
