@font-face {
    font-family: apple;
    src: url(./sf-pro-text_regular.woff2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'apple';
}
html,body {
    height: 100%;
    width: 100%;
}
#firstpart{
    height: 100%;
    width: 100%;
    /* background-color: black; */
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_large.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
#nav{
    height: 60px;
    width: 100%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: fixed;
    z-index: 1000;
}
#firstpart #nav h4{
    font-weight: 400;
    font-size: 12px;
    color: white;
}
#nav i{
    color: white;
    /* vertical-align: middle; */
}
#text h1{
    color: white;
    padding-top:100px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
#text h4{
    color: white;
    /* padding-top: 10px; */
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
#link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#link button{
    margin-top: 20px;
    padding: 14px 30px;
    border: none;
    border-radius: 50px;
    background-color: royalblue;
    color: white;
    font-weight: 500;
    font-size: 16px;
}
#link #buy{
    background-color: transparent;
    border: 1px solid royalblue;
    color: royalblue;
}
#link #buy:hover{
    background-color: royalblue;
    color: white;
}

#secondpart{
    height:100%;
    width: 100%;
    /* background-color: red; */
    text-align: center;
    position:absolute;
}
#secondpart video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#secondpart #center{
    position:absolute;
    top: 5%;
    left: 32%;
    height:500px;
    width: 500px;
    /* background-color: yellow; */
}
#secondpart #center h1{
    padding-top: 40px;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 17px;
    color: #51606B;
}

#secondpart #center h4{
    line-height: 29px;
    color: #6C7F91;
    font-weight: 400;
    font-size: 35px;
    /* padding-bottom: 40px; */
}

#links{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#links button{

    margin-top: 125px;
    padding: 14px 30px;
    border: none;
    border-radius: 50px;
    background-color: royalblue;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

#links #effect{
    background-color: transparent;
    border: 1px solid royalblue;
    color: royalblue;
}

#links #effect:hover{
    background-color: royalblue;
    color: white;
}