* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}


#main{
    height: 100%;
    width: 100%;
    background:linear-gradient(   rgb(255, 255, 255),  rgb(173, 1, 1));

    /* linear-gradient doesnt work with back ground color it works with only background  */

    display: flex;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#card{
    
    height: 300px;
    width: 230px;
    background-color: rgb(230, 221, 221);
    border-radius: 10%;
    box-shadow: 10px 10px 20px black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
}

#card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

#card h2{
    font-weight: 600;
    color: rgb(122, 97, 97);
    font-size: 40px;
    text-align: center;
    line-height: 1;      /*     controls gap between lines */
}

#card p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color:  rgba(114, 123, 124, 0.774);
}

#card button{
    padding: 10px 40px;
    border-radius: 5px;
    background-color: royalblue;
    color: antiquewhite;
    cursor: pointer;
}

#card button:hover{
    background-color: transparent;
    color: royalblue;
    border-color: royalblue;
    box-shadow: 10px 10px 20px rgb(255, 131, 131);
}
