* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
    background-color: black;
    anchor-name: --some-anchor;

}

.box{
    height: 200px;
    width: 200px;
}
.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
    
}
.box:hover{
    anchor-name: --some-anchor !important;
}

#anchor {
    background-color: rgb(172, 169, 169);
    position: absolute;
    position-anchor: --some-anchor; /*isse yeh positioned element ban gya abh yeh target ke hisaab se move karega*/
    /* height: 50px; */
    /* width: 50px; */
    top: anchor(top);
    left: anchor(left);
    right: anchor(right);
    bottom: anchor(bottom);
    pointer-events: none;
    transition: all 0.3s linear;
    mix-blend-mode: difference;
}

