* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    /* background-color: rgb(170, 164, 164); */
    display: flex;
    align-items:center;
    justify-content: flex-end;
    gap: 20px;
    flex-direction: column;
    background-image: url("https://businessprizm.com/wp-content/uploads/2024/03/ipl-2024-sportstiger-1705678295818-original.jpg");
    background-size: cover;
    background-position: center;
    
}

h1{
    padding: 20px 30px;
    background-color: rgba(218, 218, 218, 0.212);
    font-family: monospace;
    font-size: 50px;
    border-radius: 10px;
}

button{
    padding: 20px 30px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    font-size: 25px;
}

button:active{
    scale: 0.95;
}
