* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    color: whitesmoke;
    cursor: none;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor{
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
    box-shadow:  0 0 10px  rgba(175, 255, 55, 0.829);
}
h1{
    font-family: monospace;
    font-size: 11vw;
    font-weight: 900;
}
