* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}

#main{
    height: 50%;
    background-color: beige;
    display: flex;
    gap: 20px;
    padding: 8px;
    flex-wrap: nowrap;
    overflow: auto;
}
#main::-webkit-scrollbar{
    display: none;
}

.box{
    height: 290px;
    width: 250px;
    background-color: aqua;
    flex-shrink: 0;
    border-radius: 10px;
}

.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#bottom h1{
    text-align: center;
    font-size: 140px;
    color: transparent;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/02/SwiralTestav.gif);
    /* -webkit-text-stroke: 4px black; */
    background-clip: text;

}
