* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
h1{
    font-size: 50px;
}
button{
    background-color: royalblue;
    padding: 20px 35px;
    margin-top: 20px;
}

button:hover{
    background-color: rgb(204, 60, 84);
}