* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-y: scroll;
}
html::-webkit-scrollbar{
    display: none;
}

body::-webkit-scrollbar{
    display: none;
}

main{
    width: 100%;
    display: grid;
    grid-template-rows: 60px 250px auto;  /*idhar auto diya kyuki image lana tha */
    grid-template-areas: "nav"
                          "section"
                          "firstimg"
    ;
    overflow: hidden;
}

nav{
    /* background-color: red; */
    grid-area: nav;
    display: flex;
    padding: 10px;
    align-items: center;
}
nav img{
    height: 20px;
    width: 40px;
    object-fit: cover;
    margin-left: 20px;
}

nav h2{
    font-size: 30px;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 200px;
}

nav h3{
    font-size: 15px;
    font-weight: 400;
    margin-left: 50px;
    color: rgb(61, 61, 61);
}
nav i{
    font-weight: 200;
    margin-left: 5px;
    margin-right: 250px;
}
nav button{
    /* margin-left: 60px; */
    padding: 10px 20px;
    margin:8px;
    font-weight: 100;
    font-size: 15px;
    border-radius: 50px;
    border: 1px solid royalblue;
    color: royalblue;
    background-color: white;

}
nav #get{
    background-color: royalblue;
    color: white;
}
#get:hover{
    background-color: white;
    color: royalblue;
}
section{
    /* background-color: aqua; */
    grid-area: section;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    padding: 10px;
}
section h1{
    font-size: 50px;
    font-weight: 400;
    white-space: nowrap;
    margin-left: 20px;
}
#secright p{
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: grey;

}
#secright #start{
    margin-top: 10px;
    padding: 20px 35px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 45px;
    border: 1px solid royalblue;
    color: white;
    background-color: royalblue;
    text-align: center;
}
#start i{
    margin-left: 1px;
    font-weight: 100;
    font-size: 20px;
    vertical-align: middle;
}
#secright #start:hover{
    background-color: white;
    color: royalblue;
}
#secright #free{
     margin-top: 10px;
    padding: 20px 35px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 45px;
    border: 1px solid royalblue;
    color: royalblue;
    margin-left: 5px;
    background-color: white;
}

#firstimg img{ 
    /* background-color: blueviolet; */
    grid-area: firstimg;
    object-fit: cover;
    width: 87%;    
    height: 600px;
    margin-left: 80px;
    border-radius: 10px;
  

}

#numbers{
    width: 100%;
    height: 300px;
    /* background-color: red; */
    display: flex;

}
.class{
    height: 100%;
    width: 25%;
    /* background-color: aqua; */
    text-align: center;
    border: 2px solid white;
    
}
.class h1{
    margin-top: 50px;
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 10px;
}
.class h3{
    font-weight: 400;
    font-size: 15px;
    color: rgb(56, 56, 56);
}

#secondpart{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 1fr;
    grid-template-areas: "topleft rightimg"
                         "bottomleft rightimg"
    ;
}

#topleft{
    /* background-color: red; */
    grid-area: topleft;
    padding: 10px 20px;
}

#topleft #about{
    padding: 20px 40px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: 200;
    border-radius: 50px;
    background-color: white;
}

#bottomleft{
    /* background-color: aqua; */
    grid-area: bottomleft;
    padding: 10px 20px;
}
#bottomleft h2{
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: 400;
}
#bottomleft p{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 100;
    color: rgb(68, 68, 68);
}
#rightimg{
    /* background-color: blue; */
    grid-area: rightimg;
}
#rightimg img{
    height: 80%;
    width: 90%;
    object-fit: cover;
    border-radius: 20px;
    margin: 40px 40px;
}

#thirdpart{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 60px 100px 1fr;
    grid-template-areas: "top top "
                         "middleleft middleright"
                         "bottom bottom"    
    ;

}

#thirdpart #top{
    /* background-color: red; */
    grid-area: top;
}
#top #expert{
    padding: 15px 28px;
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    margin-top: 5px;
    margin-left: 20px;
    
}
#thirdpart #middleleft{
    /* background-color: aqua; */
    grid-area: middleleft;
    padding: 3px 20px;
}

#middleleft h2{

    font-size: 40px;
    font-weight: 400;
}

#thirdpart #middleright{
    /* background-color: blue; */
    grid-area: middleright;
     padding: 3px 20px;
}

#middleright p{
    font-size: 15px;
    font-weight: 200;
    color: rgb(68, 68, 68);
    margin-top: 15px;
}

#thirdpart #bottom{
    /* background-color: yellow; */
    grid-area: bottom;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 30px;
}

#bottom .cards {
    height: 90%;
    width: 25%;
    background-color: #0260FE;
    border: 2px solid white;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.card1 h1{
    font-weight: 200;
    font-size: 30px;
    margin-left: 30px ;
    margin-top: 20px;
    color: white;
}
.card1 h2{
    font-weight: 300;
    font-size: 25px;
    margin-top: 10px;
     margin-left: 28px ;
     color: white;
}

.card1 p{
    font-weight: 300;
    font-size: 15px;
    margin-top: 70px;
     margin-left: 28px ;
     margin-bottom: 150px;
     color: white;
}

.card1 i{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 10px;
    color: white;
    margin-left: 25px;
    font-weight: 800;
    font-size: 20px;
}

.card2 {
    position: relative;
    height: 100%;
    width: 100%;
}
.card2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.card2 h1{
    position: absolute;
    z-index: 5;
    color: rgb(255, 255, 255);
    font-size: 20px;
    bottom: 70px;      
    left: 50px;  
    font-size: 40px; 
    font-weight: 400;    
}

.card2 h2{
    position: absolute;
    z-index: 5;
    color: rgb(255, 255, 255);
    font-size: 20px;
    bottom: 40px;      
    left: 55px;  
    font-size: 20px; 
    font-weight: 400;   
}

.card3 {
    position: relative;
    height: 100%;
    width: 100%;
}

.card3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card3 h1{
    position: absolute;
    z-index: 5;
    color: rgb(255, 255, 255);
    font-size: 20px;
    bottom: 70px;      
    left: 50px;  
    font-size: 40px; 
    font-weight: 400;    
}

.card3 h2{
    position: absolute;
    z-index: 5;
    color: rgb(255, 255, 255);
    font-size: 20px;
    bottom: 40px;      
    left: 55px;  
    font-size: 20px; 
    font-weight: 400;   
}


.card4 {
    position: relative;
    height: 100%;
    width: 100%;
}
.card4 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card4 h1{
    position: absolute;
    z-index: 5;
    color: rgb(255, 255, 255);
    font-size: 20px;
    bottom: 70px;      
    left: 50px;  
    font-size: 40px; 
    font-weight: 400;    
}

.card4 h2{
    position: absolute;
    z-index: 5;
    color: rgb(255, 255, 255);
    font-size: 20px;
    bottom: 40px;      
    left: 55px;  
    font-size: 20px; 
    font-weight: 400;   
}