:root{
    /*  Root is primarily used to declare CSS custom properties (variables) that have global scope across the entire document.  */
    --pri:#F8F4E1;
    --sec:#2b1305;
    --tri1:#F3BA17;
    --tri2:#74512D;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./Aeonik-Light.ttf);
}
@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./fonnts.com-Aeonik-Regular.ttf);
}
@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./fonnts.com-Aeonik-Bold.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);
}
html,body {
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:var(--sec); 
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);

}
section.allElems{ 
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
}
.elem{
    background-color: #F3BA17;
    /* padding: 30px 40px; */
    border-radius: 10px;
    height: 300px;
    width: 222px;
    position: relative;
    overflow: hidden;
    transition: all ease 0.3s;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 4%;
    font-size: 25px;
    font-weight: 500;
    right: 5%;
}

.elem:active{
    scale: 0.97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: #2b1305;
    padding: 20px;
    font-size: 60px;
    display: none;
}
