:root {
    /*  Root is primarily used to declare CSS custom properties (variables) that have global scope across the entire document.  */
    --pri: #F8F4E1;
    --sec: #2b1305;
    --tri1: #F3BA17;
    --tri2: #74512D;
    --red: red;
    --green: rgb(59, 196, 59);
    --blue: rgb(0, 153, 255);
    --black: black;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./Aeonik-Light.ttf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./fonnts.com-Aeonik-Regular.ttf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./fonnts.com-Aeonik-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);
}

html,
body {
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}

body::-webkit-scrollbar {
    display: none;
}



#main {
    height: 120%;
    width: 100%;
    background-color: var(--sec);

}

section.allElems {
    height: 100%;
    width: 100%;
    padding: 10px;
    /* padding-top: 80px; */
    overflow: auto;
    position: absolute;

}

.allElems header {
    /* height: 260px;  */
    width: 100%;
    margin-bottom: 17px;
    /* background-image: url(https://images.unsplash.com/photo-1580193769210-b8d1c049a7d9?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;

}

header .header1 h1 {
    font-size: 80px;
    color: var(--pri);
    margin-bottom: 30px;
    font-weight: 700;
}

header .header1 h2 {
    font-size: 25px;
    color: var(--pri);
    font-weight: 700;
}

header .header1 h4 {
    font-size: 20px;
    color: var(--pri);
    font-weight: 500;
}

header .header2 h2 {
    font-size: 30px;
    color: var(--pri);
    font-weight: 700;
}

header .header2 h3 {
    font-weight: 500;
    font-size: 12px;
    color: var(--pri);
    opacity: 0.8;
}

header .header2 h4 {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 17px;
    /* margin-top: -10px; */
    color: var(--pri);
}

.allElems .allFeatures {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    /* gap: 100px; */
}


.elem {
    /* background-color: var(--tri1); */
    /* padding: 30px 40px; */
    border-radius: 10px;
    height: 300px;
    width: 222px;
    position: relative;
    overflow: hidden;
    transition: all ease 0.3s;
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem h2 {
    position: absolute;
    bottom: 4%;
    font-size: 25px;
    font-weight: 500;
    right: 5%;
}

.elem:active {
    scale: 0.97;
}

.fullElem {
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 20px;
    display: none;
    position: absolute;
    top: 0;
    z-index: 999;
}

.back {
    position: absolute;
    right: 5%;
    background-color: var(--red);
    border-radius: 50%;
    padding: 10px 12px;
    font-size: 25px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.back:active {
    scale: 0.97;
}

.todo-list-fullpage h2 {
    font-size: 60px;
}

.todo-list-fullpage .todo-container {
    height: 80%;
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask {
    width: 33%;
    background-color: var(--tri2);
    height: 100%;
    border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
}

.todo-container .addTask form input#task-input {
    padding: 10px 25px;
    width: 100%;
    font-size: 20px;
    background-color: var(--pri);
    color: var(--sec);
    font-weight: 600;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.todo-container .addTask form textarea {
    padding: 10px 25px;
    width: 100%;
    font-size: 20px;
    background-color: var(--pri);
    color: var(--sec);
    font-weight: 600;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.todo-container .addTask form button {
    padding: 10px 25px;
    width: 100%;
    font-size: 20px;
    background-color: var(--tri1);
    border-radius: 5px;
    font-weight: 700;
    border: none;
    outline: none;
    margin-bottom: 20px;
    transition: all ease 0.3s;
}

.todo-container .addTask form button:active {
    scale: 0.95;
}

.todo-list-fullpage .todo-container .allTask {
    width: 65%;
    background-color: var(--tri2);
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    overflow: auto;
}

.todo-list-fullpage .todo-container .allTask .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    padding: 16px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}


.todo-list-fullpage .todo-container .allTask .task h5 {
    color: var(--sec);
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.todo-list-fullpage .todo-container .allTask .task h5 span {
    background-color: var(--red);
    color: var(--pri);
    border-radius: 50px;
    padding: 3px 7px;
    font-size: 8px;
}

.todo-list-fullpage .todo-container .allTask .task h5 span.true {
    opacity: 1;
}

.todo-list-fullpage .todo-container .allTask .task h5 span.false {
    opacity: 0;
}

.todo-list-fullpage .todo-container .allTask .task button {
    padding: 10px 20px;
    background-color: var(--green);
    color: var(--pri);
    font-size: 15px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}

.todo-list-fullpage .todo-container .allTask .task button:active {
    scale: 0.96;
}

.mark-imp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: red; */
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
    gap: 10px;

}

.mark-imp input {
    scale: 1.5;
}

.mark-imp label {
    font-size: 15px;
}

.daily-planner-fullpage h2 {
    font-size: 60px;
    /* text-align: center; */
}

.daily-planner-fullpage .day-planner {
    background-color: var(--tri2);
    height: 85%;
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;
}

.daily-planner-fullpage .day-planner .day-planner-time {
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
}

.day-planner .day-planner-time p {
    position: absolute;
    top: 12%;
    left: 1%;
    color: var(--tri1);
    font-size: 12px;
    font-weight: 700;
}

.day-planner .day-planner-time input {
    padding: 12px 45px;
    width: 100%;
    background-color: var(--sec);
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 22px;
    color: var(--pri);
    padding-top: 25px;
    margin-bottom: 10px;
}

/* MOTIVATION STARTS  */



.motivation-fullPage-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.motivational-fullpage .motivation-container {
    height: 500px;
    width: 80%;
    position: relative;
    border-radius: 50px;
}

.motivational-fullpage .motivation-container::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 50px;
    scale: 1.15;
    background-color: var(--tri1);
    filter: blur(150px);
    z-index: 8;

}

.motivation-container .motivation-wrapper {
    z-index: 10;
    /* height: 100%; */
    width: 100%;
    position: absolute;
    background-color: var(--tri1);
    border-radius: 30px;
    padding: 17px;
}

.motivation-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.motivation-1 h2 {
    background-color: var(--tri2);
    padding: 20px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 500;
    width: fit-content;
}

.motivation-2 {
    padding: 10px;
    margin-top: 20px;
}

.motivation-2 h1 {
    font-weight: 600;
    font-size: 30px;
    color: var(--sec);
}

.motivation-3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.motivation-3 h2 {
    background-color: var(--tri2);
    padding: 20px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 30px;
    width: fit-content;
}

.motivation-container .motivation-wrapper img {
    position: absolute;
    right: 5%;
    top: 5%;
    opacity: 0.2;
    height: 70px;
}

/* POMODORO TIMER */



.pomodoro-fullpage h2 {
    font-size: 50px;
}

.pomodoro-fullpage .pomo-timer {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pomo-timer h1 {
    font-size: 130px;
}

.pomo-timer button {
    background-color: var(--tri1);
    padding: 10px 20px;
    font-size: 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 5px 5px 0px var(--black);
    transition: all ease 0.1s;
    font-weight: 700;
}

.pomo-timer button:active {
    box-shadow: 0px 0px 0px var(--black);
    scale: 0.97;
}

.pomodoro-fullpage .session {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--green);
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 5px;

}

nav {

    height: 60px;
    width: 100%;
    padding: 10px 10px;
}

nav .nav-in {
    background-color: var(--tri2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
}

nav .nav-in h2 {
    font-size: 20px;
    font-weight: 700;
}

.theme {

    background-color: var(--pri);
    /* color: var(--sec); */
    padding: 8px 10px;
    border-radius: 5px;
    transition: all ease 0.2s;
    cursor: pointer;

}

.theme h4 {
    color: var(--sec);
    font-weight: 700;
    font-size: 12px;
    pointer-events: none;
}

.theme:active {
    scale: 0.96;
}