:root{
    /*  Root is primarily used to declare CSS custom properties (variables) that have global scope across the entire document.  */
    --pri:#F8F4E1;
    --sec:#2b1305;
    --tri1:#F3BA17;
    --tri2:#74512D;
    --red:red;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./Aeonik-Light.ttf);
}
@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./fonnts.com-Aeonik-Regular.ttf);
}
@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./fonnts.com-Aeonik-Bold.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);
}
html,body {
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:var(--sec); 
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);

}
section.allElems{ 
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
}
.elem{
    background-color: #F3BA17;
    /* padding: 30px 40px; */
    border-radius: 10px;
    height: 300px;
    width: 222px;
    position: relative;
    overflow: hidden;
    transition: all ease 0.3s;
    cursor: pointer;
    box-shadow:5px 5px 20px rgba(0, 0, 0, 0.2) ;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 4%;
    font-size: 25px;
    font-weight: 500;
    right: 5%;
}

.elem:active{
    scale: 0.97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: #2b1305;
    padding: 20px;
    display: none;
    position: absolute;
}
.back{
    position: absolute;
    right: 5%;
    background-color: var(--red);
    border-radius: 50%;
    padding: 10px 12px;
    font-size: 25px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.back:active{
    scale: 0.97;
}
.todo-list-fullpage h2{
    font-size: 60px;
}

.todo-list-fullpage .todo-container{
    height: 80%;
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask{
    width: 33%;
    background-color: var(--tri2);
    height: 100%;
    border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
}

.todo-container .addTask form input#task-input{
    padding: 10px 25px;
    width: 100%;
    font-size: 20px;
    background-color: var(--pri);
    color: var(--sec);
    font-weight: 600;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.todo-container .addTask form textarea{
    padding: 10px 25px;
    width: 100%;
    font-size: 20px;
    background-color: var(--pri);
    color: var(--sec);
    font-weight: 600;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.todo-container .addTask form button{
    padding: 10px 25px;
    width: 100%;
    font-size: 20px;
    background-color: var(--tri1);
    border-radius: 5px;
    font-weight: 700;
    border: none;
    outline: none;
    margin-bottom: 20px;
    transition: all ease 0.3s;
}

.todo-container .addTask form button:active{
    scale: 0.95;
}

.todo-list-fullpage .todo-container .allTask{
     width: 65%;
    background-color: var(--tri2);
    height: 100%; 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    overflow: auto;
}

.todo-list-fullpage .todo-container .allTask .task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    padding: 16px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}


.todo-list-fullpage .todo-container .allTask .task h5{
    color: var(--sec);
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.todo-list-fullpage .todo-container .allTask .task h5 span{
    background-color: var(--red);
    color: var(--pri);
    border-radius: 50px;
    padding: 3px 7px;
    font-size: 8px;
}

.todo-list-fullpage .todo-container .allTask .task h5 span.true{
    opacity: 1;
}
.todo-list-fullpage .todo-container .allTask .task h5 span.false{
    opacity: 0;
}

.todo-list-fullpage .todo-container .allTask .task button{
    padding: 10px 20px;
    background-color: green;
    color: var(--pri);
    font-size: 15px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
}
.todo-list-fullpage .todo-container .allTask .task button:active{
    scale: 0.96;
}

.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: red; */
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
    gap: 10px;

}
.mark-imp input{
    scale: 1.5;
}
.mark-imp label{
    font-size: 15px;
}
.daily-planner-fullpage{
    display: block;
}
.daily-planner-fullpage h2{
    font-size: 60px;
    /* text-align: center; */
}

.daily-planner-fullpage .day-planner{
    background-color: var(--tri2);
    height: 85%;
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;
}

.daily-planner-fullpage .day-planner .day-planner-time{
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
}

.day-planner .day-planner-time p{
    position: absolute;
    top: 12%;
    left: 1%;
    color: var(--tri1);
    font-size: 12px;
}

.day-planner .day-planner-time input{
    padding: 12px 45px;
    width: 100%;
    background-color: var(--sec);
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 22px;
    color: var(--pri);
    padding-top: 25px;
    margin-bottom: 10px;
}