* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(240, 240, 240);
    font-size: clamp(14px, 1.5vw, 18px);
}

body {
    background-color: #121212;
}


@mixin flex-column($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section {
    max-width: 1900px;
}


main {
    height: 100%;
    width: 100%;
    @include flex-column(0rem);
    align-items: center;



    section.view1 {
        width: 100%;
        @include flex-column(1.1rem);
        padding: 0.5rem;


        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        .bottom {
            background-color: #1E1E1E;
            border-radius: 10px;
            @include flex-column(4rem);
            padding: 1.5rem;
            justify-content: space-between;


            .text {
                @include flex-column(0.7rem);


                h1 {
                    font-weight: 400;
                    font-size: 2.7rem;
                    text-transform: uppercase;
                    line-height: 1;
                }

                p {
                    font-weight: 300;
                    opacity: 0.6;
                    line-height: 1.5;
                    font-size: 1.2rem;
                }

                button {
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }
        }
    }

    section.view2 {
        width: 100%;
        @include flex-column(2rem);
        padding: 0.5rem;


        .top,
        .bottom {
            display: flex;
            width: 100%;
            justify-content: space-around;

            .element {
                text-align: center;
                @include flex-column(0.1rem);

                small {
                    opacity: 0.6;
                }

                h2 {
                    font-size: 2rem;
                    font-weight: 500;
                }
            }

        }
    }

    section.view3 {
        width: 100%;
        padding: 0.5rem;
        @include flex-column(1rem);

        .top {
            width: 100%;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        .bottom {
            background-color: #1E1E1E;
            border-radius: 10px;
            @include flex-column(4rem);
            padding: 1.5rem;
            justify-content: space-between;


            .text {
                @include flex-column(0.7rem);


                h1 {
                    font-weight: 400;
                    font-size: 2.7rem;
                    text-transform: uppercase;
                    line-height: 1;
                }

                p {
                    font-weight: 300;
                    opacity: 0.6;
                    line-height: 1.5;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (min-width:900px) {
    main {


        section.view1 {
            display: flex;
            flex-direction: row;
            padding: 0.5rem 3rem;

            .top,
            .bottom {
                width: 50%;
            }

            .bottom {
                justify-content: space-between;
                padding: 3rem;

                .text {

                    gap: 1rem;

                    h1 {
                        font-size: 3.5rem;
                    }

                    p {
                        font-size: 1rem;
                        width: 80%;
                    }
                }
            }
        }

        section.view2 {
            flex-direction: row;
            padding: 0.5rem 3rem;
        }

        section.view3 {
            flex-direction: row-reverse;
            padding: 0.5rem 3rem;  

            .top, .bottom{
                width: 50%;
            }
        }

    }
}