* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    font-family: monospace;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    /* height: 200px; */
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 30px 30px;
}
p{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
p span{
    color: royalblue;
}
.outer{
    height: 25px;
    width: 100%;
    background-color: gray;
    border-radius: 50px;
}

.inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 50px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    
}

.bottom h2{
    font-size: 50px;
    font-weight: 600;
}
.bottom button{
    padding: 10px 15px;
    border-radius: 5px;
    background-color: green;
    font-size: 18px;
    border: none;
    font-weight: 600;
    color: white;

}
.bottom button:active{
    scale: 0.95;
}