* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.card{
    height: 400px;
    width: 280px;
    background-color: rgb(255, 235, 235);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.card img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.card h3{
    font-size: 30px;
    margin-bottom: 10px;
    white-space: nowrap;
}
.card h4{
    font-size: 25px;
    color: crimson;
    margin-bottom: 10px;
    white-space: nowrap;
}
.card p{
    font-size: 18px;
    color: rgb(83, 83, 83);
    /* margin-bottom: 10px; */
}