* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}

body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

p{
    color: rgb(92, 255, 51);
    font-size: 2.8rem;
}
